@{
    ViewData["Title"] = "Job History";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <pre><h1>Ogheneruemu 
            Karieren</h1></pre>
        <p>This is my <span class="typed" data-typed-items="Job History..."></span></p>
    </div>
</section><!-- End Hero -->

<main id="main">

    
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        
    </section><!-- End Skills Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>

            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Sumary</h3>
                    <div class="resume-item pb-0">
                        <h4>Ogheneruemu Karieren</h4>
                        <p>
                            <em>
                                <ul>
                                    <li>Certified Data Analyst.</li>
                                    <li>C# Software Engineer in the making, open to learning experiences and collaboration.</li>
                                </ul>
                            </em>
                        </p>
                        
                    </div>

                    <div class="resume-item">
                        <h4>Bachelor of Arts, Philosophy</h4>
                        <h5>2020 - 2023</h5>
                        <p><em>Augustine University, Ilara-Epe</em></p>
                        <p>Best Male Graduating Student in the Faculty of Humanities, Management and Social Sciences</p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Under going training</h4>
                        <h5>2023 - Present</h5>
                        <p><em>Decagon, Lagos, Nigeria </em></p>
                        <ul>
                            <li>I create C# solutions to tasks assigned to me by my stack lead on a weekly basis.</li>
                            <li>I have agile training every week.</li>
                            <li>I give updates on a virtual standup meeting every Monday to Wednesday.</li>
                            <li>I attend a one on one physical retrospective meeting with my programme associate, once every week.</li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>

            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-8 d-flex align-items-stretch mx-auto">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Lagos, Nigeria</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>karierenogheneruemu@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+234 901 081 9118</p>
                        </div>


                    </div>

                </div>



            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
